body{
    background-image: url("../images/main_background.jpg");
}

video{
    position: fixed;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    margin-left: -1%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    top: 0%;
    left: 1%;
}

.art1 {
    width: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.art2 {
    width: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.art3 {
    width: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.art{
    width: 15%;
    margin-left: 1.5%;
    margin-top: 1%;
}
.back{
    width: 8%;
    margin-left: 90%;
    position: fixed;
    margin-top: -10%;
}
.text{
    color: white;
    margin-left: 90%;
}

.back:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}
.art:hover{
    transform: scale(1.1);
    transition: all 0.2s;
}
.art1:hover{
    transform: scale(1.5);
    transition: all 0.3s;
}
.art2:hover{
    transform: scale(1.5);
    transition: all 0.3s;
}
.art3:hover{
    transform: scale(1.5);
    transition: all 0.3s;
}

