body{
    background-image: url("../images/main_background.jpg");
}

video{
    position: fixed;
    overflow: hidden;
    z-index: -1;
    width: 100%;
    margin-left: -1%;
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    top: 0%;
    left: 1%;
}
.altair {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.ezio {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.connor {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.edward {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.arno {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}
.head3k {
    width: 10%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.assasins{
}

.altair:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.ezio:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.connor:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.edward:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.arno:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}
.head3k:hover{
    transform: scale(1.5);
    transition: all 0.5s;
}


